{% extends "network/layout.html" %}

{% block body %}

<br>
Debug: Signed in as <strong>{{ user.username }}</strong>

<br>
<br>


{% for tweet in tweets %}

{{ user.username.field.widget.input_type }}

<div class="ms-2 card" style="width: 35rem" data-id="{{tweet.id}}";>
  <div class="card-body rounded">
   <h5 class="card-title" href="#"><a href="{% url 'profile' user_id=tweet.author.id%}"><b>@{{ tweet.author}}</b></h5></a>
   <h6 class="card-subtitle mb-2 text-muted">{{tweet.posted}}</h6>
   <p class="card-text" id="tweetText">{{tweet.tweetText}}</p>
   <button class="btn btn-secondary float-left" id="foo">&hearts;&nbsp;<span id="bar">0</span></button> 
   
   {% if user.username == tweet.author|stringformat:'s' %}
   <button class="btn btn-primary float-end booboo" id="edit">  Edit</button>
   {% endif %}

 </div>
</div>
<br>


{% endfor %}

<script>


document.addEventListener('DOMContentLoaded', function() {
   document.querySelectorAll('button').forEach(button => {
      button.onclick = function() {

         if (event.target.className === "btn btn-primary float-end booboo") {
            // alert("You clicked edit")
            // alert(`Post number: ${this.parentElement.parentElement.dataset.id}`)

            const element = event.target
            const id = element.parentElement.parentElement.dataset.id

          //  const id = element.parentElement.querySelector('[data-id]');
         //   alert(id)

            if (element.parentElement.querySelector("#edit").innerText === "Edit") {
               element.parentElement.querySelector("#tweetText").innerHTML = '<textarea id="foo"></textarea>'
               element.parentElement.querySelector("#edit").innerHTML = "Save"
            
            } else if (element.parentElement.querySelector("#edit").innerText === "Save") {
               alert(element.parentElement.querySelector("#foo").value);

               fetch(`/edit/${id}`, {
                     method: 'POST',
                     body: JSON.stringify({
                        tweet: element.parentElement.querySelector("#foo").value
                     })
                  })

                  .then(response => response.json())
                  .then(result => {
                     console.log(result.new_text) // Debug
                     element.parentElement.querySelector("#tweetText").innerHTML = result.new_text
                  });

               element.parentElement.querySelector("#edit").innerHTML = "Edit"
            }

         } else if (this.className === "btn btn-secondary float-left") {
            alert("You clicked like")
            alert(`Post number: ${this.parentElement.parentElement.dataset.id}`)
         }
      }
   });
});

</script>

  {% endblock %}
