{% extends "network/layout.html" %}

{% block body %}

<br>
<h2>Following</h2>
<hr><br>

{% for tweet in tweets %}

<div class="ms-2 card" style="width: 35rem" data-id="{{tweet.id}}";>
  <div class="card-body rounded">
   <!-- TEMP Name now a hyperlink. TODO direct to correct user. -->
   <h5 class="card-title" href="#"><a href="{% url 'profile' user_id=tweet.author.id%}"><b>@{{ tweet.author}}</b></h5></a>
   <h6 class="card-subtitle mb-2 text-muted">{{tweet.posted}}</h6>
   <p class="card-text">{{tweet.tweetText}}</p>
   <button class="btn btn-secondary float-left" id="foo">&hearts;&nbsp;<span id="bar">0</span></button> 
   <button class="btn btn-primary float-end booboo">Edit</button>
 </div>
</div>
<br>

{% endfor %}

<script>

// TODO: as per allPosts.html

</script>

{% endblock %}
