{% extends "network/layout.html" %}

{% block body %}

Debug:
<ul>
  <li>Signed in as <strong>{{ user.username }}</strong>
  <li>Following: {{ following }} / Followers: {{ followedBy }}
  <li>Signed in user is following this profile? {{ following_status }}
</ul>

<br>
{% if user.username == viewed_profile %}
<button type="button" class="btn btn-primary" onclick="follow()"disabled>Follow</button>

{% else %}
{% if following_status == True %} 
<button type="button" class="btn btn-secondary" onclick="follow()">Unfollow</button>
{% elif following_status == False %}
<button type="button" class="btn btn-primary" onclick="follow()">Follow</button>
{% endif %}
{% endif %}
<br>
<br>

<h1 data-id="{{viewed_profile_id}}">{{viewed_profile}}</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Tweet</th>
      <th>ID</th>
    </tr>
  </thead>
  {% for tweet in tweets %}
  <tr>
    <td>{{tweet.author}}</td>
    <td>{{tweet.posted}}</td>
    <td>{{tweet.tweetText}}</td>
    <td>{{tweet.id}}</td>
  </tr>
  {% endfor %}
</table>


<script>

  function follow() {

    const button = document.querySelector('button')
    let post = document.querySelector('h1').dataset.id
    console.log(`Bleet number ${post}`)

    if (button.innerHTML == "Follow") {
      console.log("Follow button clicked")

      fetch(`/follow/${post}`)
      .then(response => response.json())
      .then(data => {
        console.log(data);

      button.innerHTML = "Unfollow"

      })

    }
    else if (button.innerHTML == "Unfollow") {
      console.log("Unfollow button clicked")

      fetch(`/follow/${post}`)
      .then(response => response.json())
      .then(data => {
        console.log(data); 

      button.innerHTML = "Follow"
        
      })
    }
  };

  












</script>


{% endblock %}



