{% extends "network/layout.html" %}

{% block body %}







<div class="ms-2 card" style="width: 35rem">
     <div class="card-body rounded">
     <h6 class="card-title"></h6>
     <form action="{% url 'tweet' %}" method="POST">
     {% csrf_token %}
  <div class="form-group">
    
    <textarea class="form-control" name="exampleFormControlTextarea1" rows="3" placeholder="What's happening?"></textarea>
  </div>
  <input type="submit" class="btn btn-primary float-end mt-3" value="Bleet!">
</form>
    
</div>

{% for tweet in tweets %}
     <li>{{tweet}}</li>
{% endfor %}

{% endblock %}